<% content_for :title, 'Registro Proceso de Innovación' %>
<h2 class="title">¡Bienvenido al draft!</h2>
<div class="card card-block card-form">
  <div class="row">
    <div class="col-sm-12 text-sm-center">
      <p>¿Ya tienes cuenta? <%= link_to "Haz login", login_path %>.</p>
      <p style="margin: 0">¿No tienes cuenta? <%= link_to "Registrate", new_user_path %>.</p>
    </div>
  </div>
</div>
